html {
    min-height:100%;
    position:relative;
}

body {
    height:100%;

}

.container {
	width: 90% !important;
	background-color: #E0E0E0;
}

.collapsible-header {
	padding: 0.5em 1em;
}

.collapsible-body {
	padding: 1em;
}

.col {
	width: 50% !important;
	margin: 0 5% !important;
	display: inline-block;
	background-color: lightblue;
}